body{
    padding-top: 50px;
}

/* Shared Styles */
.maximum-width{
    max-width: 1320px;
}

/* Banner Styles */
/* .banner-section{
    position: relative;
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    margin: 0px auto;
    font-family: Merriweather;
    color: white;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 16px;
    filter: brightness(40%);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
} */

.banner-section {
    background-image: url(../images/Banner\ Image.png);
    height: 600px;
    width: 1320px;
    margin: 0px auto 120px auto;
    font-family: Merriweather;
    color: white;
    text-align: center;
    border-radius: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    overflow: hidden; 
    background-size: cover;
    background-position: center;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 16px;
    z-index: 1;
}
.content{
    position: relative;
    z-index: 2;
}
.sub-title{
    font-size: 32px;
    margin-bottom: 0px;
}
.title{
    font-size: 72px;
}

.title-one{
    margin-top: 16px;
    margin-bottom: 16px;
}
.title-two{
    margin-top: 0px;
}

/* Offer Section Styles */
.offer-section{
    font-family: Inter;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 140px;
}
.discoutn-title{
    color: #FF0000;
    font-size: 88px;
    margin-bottom: 48px;
    font-weight: bold;
}
.discoutn-sub-title{
    color: #FF0000;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.category-text{
    color: #070211;
    font-weight: bold;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 48px;
}
.offer-section img{
    width: 802.9px;
    height: 500px;
}

/* Party Section styling */
.party-section{
    background-position: center;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    color: white;
    margin: 0px auto;
    margin-bottom: 140px;
    /* padding-left: 126px; */
    

    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    position: relative;
    overflow: hidden; 
    background-size: cover;
}

.party-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 16px;
    z-index: 1;
}

.party-section-content{
    margin-left: 126px;
    position: relative;
    z-index: 2;
}
.party-greeting{
    font-family: Merriweather;
    font-size: 64px;
}
.party-description{
    font-family: Inter;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 24px;
    width: 697px;
}
.join-btn{
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.party-greeting-one{
    margin-bottom: 0px;
}
.party-greeting-two{
    margin-top: 4px;
}

/* Date and Location Sections Styles */
.date-location-section{
    margin-bottom: 140px;
    height: 482px;
    background: linear-gradient(to bottom, #ffc0c0 10%, #ffffff 100%);
    margin: 0px auto 120px auto;
    width: 1320px;
    border-radius: 16px;
    text-align: center;

    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 385px;
    padding-right: 385px;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600px;

}
.date-location{
    margin-bottom: 10px;
    margin-top: 20px;
}

.date-location span{
    color: #FF0000;
}

.date-location-join-btn{
    background-color: #FF0000;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    margin-top: 48px;
}

/* Comming Soon Section */
.comming-soon-section{
    margin: 0px auto 120px auto;
    width: 1320px;
    height: 463px;
    margin-bottom: 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comming-soon-masseg{
    width: 393px;
}
.comming-soon-masseg h5{
    font-family: Inter;
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
    margin-bottom: 16px;
}
.comming-soon-masseg h3{
    font-family: Merriweather;
    font-weight: bold;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 22px;
}
.comming-soon-masseg p{
    font-family: Inter;
    font-size: 20px;
    color: #070211;
}

.rounded-image img{
    width: 263px;
    height: 263px;
    border-radius: 300px;
    border: 20px solid #FF0000;
    padding: 49.08px;
}

.new-year-massage{
    width: 276px;
}
.new-year-massage h3{
    font-family: Inter;
    font-size: 48px;
    color: #FF0000;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 120px;
}
.new-year-massage p{
    font-family: Inter;
    font-size: 20px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 43px;
}
.new-year-sticker{
    height: 140px;
    width: 140px;
    margin-top: 0px;
}

/* Holiday Sales Section */
.holiday-sale-section{
    margin-bottom: 140px;
    width: 1320px;
    height: 786px;
    margin: 0px auto 120px auto;
    text-align: center;
}
.text-section{
    text-align: center;
    margin-bottom: -50px;
}
.text-section h5{
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
.text-section h1{
    margin-top: 16px;
    margin-bottom: 28px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 72px;
}
.text-section p{
    margin-top: 28px;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #070211;
    text-align: center;
}
.holiday{
    color: #FF0000;
}
.bottom-images{
    height: 229px;
    width: 1320px;
}
.rect{
    position: relative;
    bottom: 0px;
    top: 500px;
}
.gift{
    width: 550px;
    height: 550px;
    object-fit: contain;
    position: relative;
    bottom: 0px;
    top: -20px;
    left: -150px;
    z-index: 200;
}
.discount-sticker{
    height: 350px;
    width: 350px;
    position: relative;
    top: -380px;
    right: -160px;
}

/* Portfolio Section Styles */
.portfolio-section{
    width: 1320px;
    margin: 0px auto 120px auto;
}
.portfolio-text h5{
    font-family: Inter;
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-text h1{
    margin-top: 16px;
    margin-bottom: 22px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 48px;
}
.portfolio-text p{
    margin-top: 22px;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #070211;
}